.players_list_container {
    background: rgb(255, 255, 255);
    background: linear-gradient(121deg, rgba(255, 255, 255, 1) 52%, var(--bg-yellow) 100%);
    min-height: 100vh;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.player_wrapper {
    display: flex;
    background-color: wheat;
    padding: 1vh;
    border-radius: 0.5vh;
}

.players_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 4vh;
    border-bottom: solid 1px #FDF3AB;
}

.add_player_container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

.add_player_container {
    margin-top: 10vh;
}

.title {
    -webkit-text-stroke: 1px black;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    color: #FFCC00;
    font-size: 3rem;
}

.new_player_input > div {
    background-color: white;
    min-width: 2vw;
}
