.ranking_container {
    min-height: 100vh;
    background-image: url("../../assets/images/podium.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}