.new_game_container {
    background-color: #909DCA;
    background-image: url("../../assets/images/flames.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 10vh;
    align-items: center;
}

.new_game_input > div, .new_game_multiselect > div > div {
    background-color: white;
}

.new_game_multiselect {
    min-width: 30%;
}

.new_game_players_list img{
    width: 60px;
    height: 60px;
}