.card {
    width: 20vh;
    height: 30vh;
    background-color: #EECF8E;
    border-radius: 2vh;
    padding: 1vh 2vh;
}

.card_image_wrapper {
    background: radial-gradient(circle, rgba(144,157,202,1) 0%, rgba(91,113,189,1) 100%);
    padding: 1vh;
    border-radius: 2vh;
}

.card_image_wrapper img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

h1 {
    text-align: center;
    font-size: 3vh;
    padding-bottom: 1vh;
}

.players_infos {
    display: flex;
}

.players_infos p {
    white-space: pre;
}