.card {
    width: 20vh;
    min-height: 30vh;
    background: rgb(255, 255, 255);
    border-radius: 2vh;
    padding: 1vh 2vh;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 12px 12px;
    transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
    border: 5px solid #000000;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0 20px 40px, rgba(0, 0, 0, 0.23) 0 24px 24px;
    transform: translateY(-1vh);
    cursor: pointer;
}

.card_image_wrapper {
    padding: 1vh;
    border-radius: 2vh;
}

.card_image_wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 0 0 50% 50%;
}

h1 {
    text-align: center;
    font-size: 3vh;
    font-weight: 800;
    padding-bottom: 1vh;
    font-family: 'Zeyada', cursive;
}

.players_infos {
    display: flex;
}

.players_infos p {
    white-space: pre;
}

#update_player_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vh;
    background: linear-gradient(121deg, rgba(255, 255, 255, 1) 52%, var(--bg-white) 100%);
    border: 5px solid #000000;
}

.update_player_name_input > div {
    background-color: white;
}

.card_modal h2 {
    margin-bottom: 3vh;
}

.close_modal_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: scale 0.2s ease-in-out;
}

.close_modal_icon:hover {
    scale: 1.5;
    cursor: pointer;
}