.games_list_container {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*gap: 2vh;*/
    /*justify-content: center;*/
    /*align-items: flex-start;*/

    display: grid;
    grid-template-columns: repeat(auto-fit, 20vw);
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
}

.games_list_wrapper {
    /*background-color: #fbf9f1;*/
    background: rgb(255, 255, 255);
    background: linear-gradient(121deg, rgba(255, 255, 255, 1) 52%, var(--bg-green) 100%);
    min-height: 85vh;
    padding: 5vh 10vh 10vh 10vh;
}

.games_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
    width: fit-content;
    min-height: 460px;
    padding: 1vh 5vh 1vh 5vh;
    border-radius: 0.5vh;
    /*min-height: 130px;*/
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.19) 0 5px 10px, rgba(0, 0, 0, 0.23) 0 3px 3px;
    transition: box-shadow 0.1s ease-in-out;
    border: 1px solid #f4b30c;
}

.games_details:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
    cursor: pointer;
}

.player_cards {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.player_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vh;
}

.player_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px;
}

.player_details img {
    width: 30px;
    height: 30px;
}

.games_infos {
    display: flex;
    flex-direction: column;
}

.games_infos_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2vh
}

.title {
    -webkit-text-stroke: 1px black;
    font-family: 'Calistoga', cursive;
    font-weight: 400;
    color: #FFCC00;
    font-size: 3rem;
    margin-bottom: 2vh;
}

.game_date {
    font-family: 'Zeyada', cursive;
    font-size: 1.5rem;
    border-bottom: 1px solid #FFCC00;
}

.game_actions {
    width: 100%;
    display: flex;
    justify-content: end;
    border-top: 1px solid #FFCC00;
}

.player_score {
    font-family: 'Zeyada', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

.player_name {
    font-family: 'Zeyada', cursive;
    font-size: 1.5rem;
}

@media (max-width: 647px) {
    .games_details {
        min-height: auto;
    }
}