.games_list_container {
    background-color: #909DCA;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234e60a2'/%3E%3Cstop offset='1' stop-color='%234e60a2' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234e60a2'/%3E%3Cstop offset='1' stop-color='%234e60a2' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232c365b'/%3E%3Cstop offset='1' stop-color='%232c365b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23909DCA'/%3E%3Cstop offset='1' stop-color='%23909DCA' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232C365B'/%3E%3Cstop offset='1' stop-color='%232C365B' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232C365B'/%3E%3Cstop offset='1' stop-color='%232C365B' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10vh;
}

.games_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
    background: white;
    width: fit-content;
    padding: 1vh;
    border-radius: 0.5vh;
    min-height: 130px;
}

.player_cards {
    display: flex;
}

.player_details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player_details img {
    width: 60px;
    height: 60px;
}

.games_infos {
    display: flex;
    flex-direction: column;
}

.games_infos_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}