.red_button {
    background: var(--bg-red) !important;
}

.blue_button {
    background: var(--bg-blue) !important;
}

.green_button {
    background: var(--bg-green) !important;
}

.yellow_button {
    background: var(--bg-yellow) !important;
}

.colored_button {
    position: relative;
    margin: 25px;
    width: 22vw;
    height: 8vh;
    min-width: 200px;
    background: transparent;
    border: 5px solid #000000;
    border-radius: 60px;
    color: #000;
    cursor: pointer;
    font-family: 'Calistoga', cursive;
    font-size: 1.5em;
    font-weight: bold;
    overflow: hidden;
}

.colored_button:hover {
    color: #fff;
}

.colored_button:active {
    color: #000;
}
