.newRanking_container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #0892A5;
    transition: filter .3s ease-in;
}

.newRanking_container.darkBg {
    filter: brightness(50%);
}

.thirdPlayer, .secondPlayer, .firstPlayer {
    background: #0CA4A5;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 40px;
    position: absolute;
    height: 0;
    width: 18vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: height .5s ease-in-out, left 0.5s ease-in-out, width 0.5s ease-in-out, background-color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.firstPlayer.appear, .secondPlayer.appear, .thirdPlayer.appear {
    overflow: visible;
    box-shadow: 0px 16px 46px -2px rgba(0,0,0,0.75);
}

.firstPlayer.appear {
    height: 70vh;
}

.secondPlayer.appear {
    height: 60vh;
}

.thirdPlayer.appear {
    height: 50vh;
}

.firstPlayer.move, .secondPlayer.move, .thirdPlayer.move {
    background: #06908F;
    font-size: 30px;
}

.firstPlayer.move {
    width: 15vw;
    height: 60vh;
}

.secondPlayer.move {
    left: 35%;
    height: 50vh;
    width: 15vw;
}

.thirdPlayer.move {
    left: 65%;
    height: 40vh;
    width: 15vw;
}

.playerName {
    position: absolute;
    top: -28px;
    scale: 0;
    transition: scale 0.5s linear;
    font-size: 30px;
    text-align: center;
}

.playerNameIsShown {
    scale: 1;
    animation: bounce 0.35s ease infinite alternate;
    animation-delay: 0.5s;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

.lightCircleOff {
    width: 100vw;
    height: 100vh;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.lightCircleOn {
    position: absolute;
    background-color: black;
    filter: brightness(50%);
    width: 100vw;
    height: 150vh;
    mask-image: radial-gradient(circle, transparent 12%, rgba(0, 0, 0, 0.5) 20%);
    animation: clip-fade 3s infinite alternate;
    mask-repeat: no-repeat;
    top: -40%;
    opacity: 1;
}

@keyframes clip-fade {
    0% {
        -webkit-mask-position: -100% center;
        mask-position: -100% center;
    }
    50% {
        -webkit-mask-position: center center;
        mask-position: center center;
    }
    100% {
        -webkit-mask-position: center center;
        mask-position: center center;
    }
}
