.accordion {
  border: 5px solid black;
  width: 20vw;
}

.accordion_summary_title {
  padding-bottom: 2vh;
}

.accordion_summary_player_info, .player_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.player_details {
  gap: 0;
  border: 2px solid black;
  border-radius: 1vh;
  padding: 1vh;
  background: linear-gradient(121deg, rgba(255, 255, 255, 1) 52%, var(--bg-white) 100%);
}

.accordion_summary_player_info img, .score_player_picture {
  height: 5vh;
  border-radius: 50%;
}

.accordion_summary_player_info_container {
  display: flex;
  align-items: center;
}

.accordion_summary {
  display: flex;
  flex-direction: column;
}

.accordion_summary_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion_game_info {
  min-height: 6vh;
  color: grey;
}

.accordion_details {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2vh;
  flex-wrap: wrap;
}

.player_score img {
  border-radius: 0;
}